# > Invalid Nodes 
# > All Nodes
# > 2024.05.17
shadowsocks=example.com:80, method=aes-128-gcm, password=pwd, fast-open=false, udp-relay=false, tag=Invalid Node 1
shadowsocks=example.com:80, method=aes-128-gcm, password=pwd, fast-open=false, udp-relay=false, tag=Invalid Node 2
